/********************************************************************
Author: Abdulkadir Mohammed
Licence: None
********************************************************************/
/*******************************************************************
Style links to .index.html
*******************************************************************/
   
* {
       margin: 0;
       padding: 0;
   }

header,
footer {
    width: 100%;
    height: 120px;
    background-color: blue;
    color: white;
}